:host{
  display: flex;
  flex-direction: column;
  align-items: center;

  app-tabset{
    margin-bottom: 48px;
  }

  .form-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    padding: 0 24px;

    .form-item{
      width: 45%;
      height: 100px;
    }

    .ad-description{
      width: 100%;
      border: 1px solid white;
      border-radius: 2px;
      background: none;
      margin: 0 auto;
      resize: none;
      font-size: inherit;
      outline: none;
      padding: 5px 10px;
    }

    app-photo-upload{
      margin-top: 16px;
    }

    .full-width{
      width: 100%;
    }

    .button-container{
      text-align: right;
      margin-top: 8px;

      button{
        min-width: 140px;
      }
    }
    .next-button-container{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 30px;

      .btn-main{
        min-width: 140px;
      }

      .error-container{
        font-size: 1.3em;
        margin-right: 16px;
      }
    }
  }
}
::-webkit-input-placeholder {color: white;}
::-moz-placeholder          {color: white;}
:-ms-input-placeholder      {color: white;}
