<app-tabset [@fadeIn]="''" [@slideLeft]="''"
            [selectedKey]="selectedTab.key"
            (select)="onTabSelected($event)">
  <app-tab *ngFor="let tab of tabs"
           [key]="tab.key">{{ tab.name }}</app-tab>
</app-tabset>

<div *ngIf="!needAuth" class="form-container">
  <div class="form-item">
    <h4>Населенный пункт</h4>
    <app-dropdown
      [placeholder]="dropdownPlaceholder"
      [searching]="true"
      [clientSearching]="true"
      [items]="cities"
      [selected]="adState.city"
      (selectedChange)="onSelectedChange('city', $event)"
    ></app-dropdown>
  </div>
  <div class="form-item"></div>

  <div class="form-item">
    <h4>Тип объявления</h4>
    <app-dropdown
      [placeholder]="dropdownPlaceholder"
      [items]="adTypes"
      [selected]="adState.adType"
      (selectedChange)="onSelectedChange('adType', $event)"
    ></app-dropdown>
  </div>

  <div class="form-item">
    <ng-container *ngIf="isRentSelected">
      <h4>Срок аренды</h4>
      <app-dropdown
        [placeholder]="dropdownPlaceholder"
        [items]="leaseTerms"
        [selected]="adState.leaseTerm"
        (selectedChange)="onSelectedChange('leaseTerm', $event)"
      ></app-dropdown>
    </ng-container>
  </div>

  <div class="form-item">
    <h4>Вид недвижимости</h4>
    <app-dropdown
      [placeholder]="dropdownPlaceholder"
      [items]="propertyTypes"
      [selected]="adState.propertyType"
      (selectedChange)="onSelectedChange('propertyType', $event)"
    ></app-dropdown>
  </div>

  <div class="form-item">
    <ng-container *ngIf="ispropertyContainsRooms">
      <h4>Количество комнат</h4>
      <app-dropdown
        [placeholder]="dropdownPlaceholder"
        [multiselection]="selectedTab.key === 'find'"
        [items]="roomsCount"
        [selected]="adState.roomsCount"
        (selectedChange)="onSelectedChange('roomsCount', $event)"
      ></app-dropdown>
    </ng-container>
  </div>

  <div class="form-item">
    <h4>Кто разместил</h4>
    <app-dropdown
      [placeholder]="dropdownPlaceholder"
      [items]="advertiserTypes"
      [selected]="adState.advertiser"
      (selectedChange)="onSelectedChange('advertiser', $event)"
    ></app-dropdown>
  </div>
  <div class="form-item"></div>

  <textarea autosize class="ad-description"
    *ngIf="selectedTab.key === 'create'"
    [ngModel]="adState.description"
    (ngModelChange)="onSelectedChange('description', $event)"
    placeholder="Текст объявления"
  ></textarea>

  <div class="full-width next-button-container">
    <button class="btn btn-main pull-right"
            (click)="onClickNext()"
    >{{selectedTab.buttonTitle}}</button>
  </div>
</div>
