$padding: 20px;
$padding-m: 15px;

:host{
  display: block;
  background-color: white;
  color: black;
  border-radius: 2px;
  &.repost-status{
    border-left: 2px solid #dee6ee;

    .post{
      padding: $padding-m 0 0 $padding;
    }
  }

  .post{
    padding: $padding-m $padding;

    .post-header{
      display: flex;
      position: relative;

      .post-image{
        img{
          border-radius: 50%;
        }
      }
      .post-header-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 $padding-m;


        .post-author{
          font-weight: bold;
          a{

          }
        }
        .post-date{
          color: #a3a3a3;
          font-size: 13px;
        }
      }
      .post-link{
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none!important;
        font-weight: bold;

        &:hover{
          cursor: pointer;
        }
      }
    }

    .post-content{
      margin-top: $padding-m;

      .post-text{
        background: none;
        margin: 0;
        padding: 5px;
        width: 100%;
        border: none;
        font-size: inherit;
        font-family: inherit;
        line-height: inherit;
        letter-spacing: 1px;
        word-wrap: break-word;
        overflow: auto;
        color: inherit;
      }
    }

    .post-attachments{

    }
  }
}
