@import "variables";

button.app-button {
  padding: 5px 16px 6px 16px;
  background-image: linear-gradient(to bottom, #3f5d6f, $main-color);
  color: white;
  border: none;
  border-radius: 3px;
  outline: none;
  line-height: 1.5;
  transition: box-shadow 250ms, background-image 250ms;

  &:hover {
    background-image: linear-gradient(to bottom, #4c697b, #3b5569);
    box-shadow: 0 2px 2px 0 rgba(140, 140, 140, 0.5);
  }

  &:active {
    background-image: linear-gradient(to bottom, #3f5d6f, $main-color);
    box-shadow: inset 0 1px 5px 0 rgba(26, 26, 26, 0.5);
  }

  &.ghost {
    background: #FFF;
    border: solid 1px $main-color;
    color: $main-color;
    transition: none;

    &:hover {
      color: white;
      background-image: linear-gradient(to bottom, #4c697b, #3b5569);
      box-shadow: 0 2px 2px 0 rgba(140, 140, 140, 0.5);
    }

    &:active {
      background-image: linear-gradient(to bottom, #3f5d6f, $main-color);
      box-shadow: inset 0 1px 5px 0 rgba(26, 26, 26, 0.5);
    }
  }

  &.icon {
    padding: 5px 11px 6px 11px;
    background: $background-control-color;
    color: $link-color;
  }

  &[disabled] {
    background: whitesmoke;
    color: $secondary-color;

    &:hover {
      box-shadow: none;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.btn-main,
.btn-main:focus {
  color: #ffffff;
  background-color: #196EBD;
  border-color: #ffffff;
}

.btn-main:hover,
//.btn-main:active,
//.btn-main.active,
.open .dropdown-toggle.btn-main {
  color: #196EBD;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-main:active,
.btn-main.active,
.open .dropdown-toggle.btn-main {
  background-image: none;
}

.btn-main.disabled,
.btn-main[disabled],
fieldset[disabled] .btn-main,
.btn-main.disabled:hover,
.btn-main[disabled]:hover,
fieldset[disabled] .btn-main:hover,
.btn-main.disabled:focus,
.btn-main[disabled]:focus,
fieldset[disabled] .btn-main:focus,
.btn-main.disabled:active,
.btn-main[disabled]:active,
fieldset[disabled] .btn-main:active,
.btn-main.disabled.active,
.btn-main[disabled].active,
fieldset[disabled] .btn-main.active {
  background-color: #196EBD;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-gold,
.btn-gold:focus {
  color: #ffffff;
  background-color: #ed7a18;
  border-color: #ffffff;
}

.btn-gold:hover,
  //.btn-gold:active,
  //.btn-gold.active,
.open .dropdown-toggle.btn-gold {
  color: #ffffff;
  background-color: #ffa353;
  border-color: #ffffff;
}

.btn-gold:active,
.btn-gold.active,
.open .dropdown-toggle.btn-gold {
  background-image: none;
}

.btn-gold.disabled,
.btn-gold[disabled],
fieldset[disabled] .btn-gold,
.btn-gold.disabled:hover,
.btn-gold[disabled]:hover,
fieldset[disabled] .btn-gold:hover,
.btn-gold.disabled:focus,
.btn-gold[disabled]:focus,
fieldset[disabled] .btn-gold:focus,
.btn-gold.disabled:active,
.btn-gold[disabled]:active,
fieldset[disabled] .btn-gold:active,
.btn-gold.disabled.active,
.btn-gold[disabled].active,
fieldset[disabled] .btn-gold.active {
  background-color: #ed7a18;
  border-color: #ffffff;
  color: #ffffff;
}

.icon-close{
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  &:hover {
    &::before, &::after {
      background: #1ebcc5;
    }
  }

  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #ffffff;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.big {
    transform: scale(3);
  }
  &.small {
    transform: scale(.5);
  }
  &.hairline {
    &::before, &::after {
      height: 1px;
    }
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
}
