$padding: 24px;
$padding-xl: 64px;
$padding-l: 32px;
$padding-m: 16px;
$padding-s: 8px;
$nav-panel-height: 54px;
$border-radius: 3px;

// semantic colors
$text-color: #343434;
$background-color: #f5f5f5;
$background-dark-color: #f0f0f0;
$border-color: #ececec;
$link-color: #248cf1;
$main-color: #314a5d;
$secondary-color: #a3a3a3;
$card-color: #ffffff;
$background-control-color: #eff1f2;
$border-control-color: #d7d7d7;
$error-control-color: #e1665a;
$selected-color: #f7f7f7;
$hover-background-color: #dcf1fd;
$hover-tool-color: #8eb5cf;

// derivative colors
$text-disabled-color: $secondary-color;

// color colors
$red: #e1665a;
$pink: #dc5d7f;
$purple: #9e5ebb;
$deep-purple: #7566c0;
$indigo: #5a72be;
$blue: #52a6ef;
$light-blue: #4eb7f3;
$cyan: #58c2d7;
$green: #1cbd63;
$teal: #4ea198;
$yellow: #fac841;
$amber: #f6a93f;
$orange: #ff9800;
$brown: #795548;

// rare colors
$violet-text-color: #485bb0;
