:host{
  width: 800px;
  display: flex;
  margin: 0 auto;

  .post-container{
    width: 100%;

    .post-item{
      &:not(:first-child){
        margin-top: 20px;
      }
    }
  }

  .back-button{
    position: fixed;
    color: white;
    font-size: 32px;
    left: 24px;
    top: calc(50% - 16px);
  }
}
