@import "../../../../assets/styles/imports/variables";

:host {
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  font-size: 32px;
  font-weight: 200;
  color: #ffffff;

  &:hover{
    color: wheat;
  }

  & > span.active {
    color: #ffffff;
  }
}

/deep/ app-tab + app-tab {
  margin-left: $padding-xl;
}

.light {
  & > :host {
    font-weight: 400;
  }
}

.fluid {
  & > :host {
    flex: 1;

    & > span {
      width: 100%;
      text-align: center;
    }
  }
}
