@import "imports/variables";
@import "imports/buttons";
@import "imports/inputs";
@import "imports/dropdowns";

html, body{
  font-family: "Open Sans";
  margin: 0;

  h1{
    font-size: 55px;
  }

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: 200;
  }
}
