:host{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: white;
  background: linear-gradient(to bottom, rgb(1, 176, 221) 0%, rgb(25, 110, 189) 100%);

  padding-top: 100px;
}
